<div class="dash-panel test" id="waterPanel">
  <div class="container for-card full top-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>

        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">Water</div>
      </div>
    </div>
  </div>
  <div class="container for-card left-half second-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">64</div>
      </div>
    </div>
  </div>
  <div class="container for-card right-half second-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">64</div>
      </div>
    </div>
  </div>
  <div class="container for-card left-third third-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">37</div>
      </div>
    </div>
  </div>
  <div class="container for-card middle-third third-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">61</div>
      </div>
    </div>
  </div>
  <div class="container for-card right-third third-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">93</div>
      </div>
    </div>
  </div>
  <div class="container for-card left-two fourth-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">61</div>
      </div>
    </div>
  </div>
  <div class="container for-card right-third fourth-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">93</div>
      </div>
    </div>
  </div>
  <div class="container for-card left-third sixth-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">61</div>
      </div>
    </div>
  </div>
  <div class="container for-card right-two sixth-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">93</div>
      </div>
    </div>
  </div>
  <div class="container for-card full fifth-row">
    <div class="container-inner">
      <div class="card detail-level hidden">
        <ul class = "card-list">
          <li>Item 1</li>
          <li>Item 2</li>
        </ul>
      </div>
      <div class="card top-level">
        <div class="label headline">57</div>
      </div>
    </div>
  </div>
</div>
