/* color palettes: 0->5 lightest->darkest */
/* blue */
/* yellow */
/* grey */
.bar {
  background-color: rgba(42, 58, 73, 0.7);
  height: 54px;
  z-index: 1;
}

.bar button {
  height: 48px;
  color: #e3f5ff;
  background-color: transparent;
  text-align: center;
  margin-top: 8px;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.bar button:first-of-type {
  margin-left: 24px;
  background-color: #b1c2d5;
}

/*.bar button:hover {
  color: colors.$blue_4;
  background-color: #a4a4a4;
}

.bar button.active {
  color: colors.$blue_5;
  background-color: colors.$blue_1;
}*/
.bar.topNav {
  border-bottom: solid 2px;
  border-color: #b1c2d5;
}

.container {
  background-color: transparent;
}

.container-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container.for-card {
  border: outset 4px;
  border-color: #2a3a49;
  border-radius: 16px;
}

.container.for-card.full {
  grid-column: 2/-2;
}

.top-row {
  grid-row: 2/4;
}

.second-row {
  grid-row: 4/6;
}

.third-row {
  grid-row: 6/8;
}

.fourth-row {
  grid-row: 8/10;
}

.fifth-row {
  grid-row: 10/12;
}

.sixth-row {
  grid-row: 12/14;
}

.container.for-card.left-half {
  grid-column: 2/5;
}

.container.for-card.right-half {
  grid-column: 5/-2;
}

.container.for-card.left-third {
  grid-column: 2/4;
}

.container.for-card.middle-third {
  grid-column: 4/6;
}

.container.for-card.right-third {
  grid-column: 6/-2;
}

.container.for-card.left-two {
  grid-column: 2/6;
}

.container.for-card.right-two {
  grid-column: 4/-2;
}

.tl-grid {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, #011421, #546475);
  display: grid;
  grid-template-rows: 16px repeat(10, 1fr);
  grid-template-columns: 60px repeat(10, 1fr);
  gap: 8px;
}

.container.dash {
  grid-area: 2/2/span 9/span 4;
}

.dash-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  border: outset 4px;
  border-color: #2a3a49;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 8px repeat(6, 1fr) 8px;
  grid-template-rows: 8px repeat(12, 1fr) 8px;
  background: repeating-linear-gradient(-55deg, rgba(164, 164, 164, 0.5), rgba(164, 164, 164, 0.5) 4px, rgba(213, 213, 213, 0.5) 4px, rgba(213, 213, 213, 0.5) 8px);
}

.cell {
  border: 1px solid;
  border-radius: 4px;
}

.card {
  /* styles to fill animation container-inner parent */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card.top-level {
  /*background: repeating-linear-gradient(
    55deg,
    colors.$yellow_3,
    colors.$yellow_3 5px,
    colors.$yellow_4 5px,
    colors.$yellow_4 10px
    );*/
  background: linear-gradient(to top, #c79a00, #feca45);
  box-shadow: 0px 8px 8px 4px;
}

.card.detail-level {
  /*background: repeating-linear-gradient(
    -55deg,
    rgba(42, 58, 73, 1),
    rgba(42, 58, 73, 1) 5px,
    rgba(84, 100, 117, 1) 5px,
    rgba(84, 100, 117, 1) 10px
    );*/
  background: linear-gradient(to top, #2a3a49, #546475);
}

.card > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: inherit;
}

.card > ul > li {
  width: 100%;
  color: #feca45;
  text-indent: 10px;
  padding: 6px 0px;
  border-bottom: solid 2px;
  border-color: #c79a00;
}

.card > ul > li:last-child {
  border: none;
}

.label {
  color: #2a3a49;
}

.label.headline {
  font-size: 64px;
}

.card.detail-level > .label {
  color: #ffca28;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Futura, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #546475;
}

/*# sourceMappingURL=style.css.map */
