@use 'colors';

.bar {
  background-color: colors.$blue_4_70;
  height: 54px;
  z-index: 1;
}

.bar button {
  height: 48px;

  color: colors.$blue_0;
  background-color: transparent;
  text-align: center;
  margin-top: 8px;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.bar button:first-of-type {
  margin-left: 24px;
  background-color: colors.$blue_1;

}

/*.bar button:hover {
  color: colors.$blue_4;
  background-color: #a4a4a4;
}

.bar button.active {
  color: colors.$blue_5;
  background-color: colors.$blue_1;
}*/

.bar.topNav {
  border-bottom: solid 2px;
  border-color: colors.$blue_1;

}
