// Extra-Small (mobile)
$below-xs: "max-width:480px";
$above-xs: "min-width:481px";

// Small - Tablet (portrait)
$below_s: "max-width:768px";
$above-s: "min-width:769px";

// Medium - Landscape Tablet
$below-m: "max-width: 960px";
$above-m: "min-width: 961px";

// Large
$below-l: "max-width:1120px";
$above-l: "min-width:1121px";
