/* color palettes: 0->5 lightest->darkest */
/* blue */
$blue_0: #e3f5ff;
$blue_1: #b1c2d5;
$blue_2: #8192a4;
$blue_3: #546475;
$blue_4: #2a3a49;
$blue_5: #011421;

/* yellow */
$yellow_0: #ffffa9;
$yellow_1: #fffd77;
$yellow_2: #feca45;
$yellow_3: #ffca28;
$yellow_4: #c79a00;
$yellow_5: #926c00;
